<%=toplevelvar %><%= className %> = function(){ <%= className %>.apply(this, arguments);};
<%=toplevelvar %><%= className %>.prototype = Object.create(<%= className %>.prototype);

<%=toplevelvar %><%= className%> = <%= contract %>

