<%=toplevel_prefix %><%= className %> = function(){ <%= className %>.apply(this, arguments);};
<%=toplevel_prefix %><%= className %>.prototype = Object.create(<%= className %>.prototype);

<%=toplevel_prefix %><%= className%> = <%= contract %>

