define(["require", "exports", "contracts-js" <%if (typeof module !== 'undefined') {%>, "<%= module %>" <% } %>], function(require, exports) {
    var <%= contracts_var %> = require("contracts-js");
    <%= variables %>
    <% if (typeof module !== 'undefined') {%>
            <%= module %> = require("<%= module %>");
        <% } %>

    <%= body %>

return <%= toplevel_var %>;
});