var <%= contracts_var %> = require("contracts-js");
    <%= variables %>
    <% if (typeof module !== 'undefined') {%>
            <%= module %> = require("<%= module %>");
        <% } %>

    <%= predefined %>
    <%= body %>

return <%= toplevel_var %>;
