(function() {
    var root, <%= contracts_var %>;
    root = this;
    if (typeof require === "function") {
        <%=contracts_var%> = require("contracts-js");
    } else {
        <%=contracts_var%> = root["contracts-js"];
    }

    var <%= toplevel_var %> = {};
